{% extends 'baseadmin.html' %}
{% block title %}Add Products{% endblock title %}
{% block body %}
<div class="container mt-4" style="position: relative; left: 80px; width: 1100px; padding: 50px;">
    <h3 class="mb-4 mt-5">Edit Product</h3>
    <form method="post"  action="{% url 'edit_products' book_id=edit_book.id %}"enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group d-inline-flex" style="width: 70%;">
            <div>
                <label for="name">Title</label>
                <input type="text" class="form-control" id="name" name="edit_title" style="width: 300px;" required>
            </div>
            <div style="margin-left: 100px;">
                <label for="categories">Categories</label>
                <select class="form-control" id="categories" name="edit_categories" style="width: 300px;" required>
                    <option value="">Select a Category</option>
                    {% for cat in categories %}
                    <option value="{{ cat.name}}">{{ cat.name}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="form-group d-inline-flex" style="width: 70%;">
            <div>
                <label for="name">Author</label>
                <input type="text" class="form-control" id="size" name="edit_author" style="width: 300px;" required>
            </div>
            <div style="margin-left: 100px;">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="edit_active" style="width: 300px;" required>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
        </div>
        <div class="form-group d-inline-flex" style="width: 70%;">
            <div>
                <label for="name">Price</label>
                <input type="text" class="form-control" id="price" name="edit_price" style="width: 300px;" required>
            </div>
            <div style="margin-left: 100px;">
                <label for="category">Offer Price</label>
                <input type="text" class="form-control" id="offer_price" name="edit_offer_price" style="width: 300px;">
            </div>
        </div>
        <div class="form-group d-inline-flex" style="width: 70%;">
            <div>
                <label for="name">Quantity</label>
                <input type="text" class="form-control" id="quantity" name="edit_quantity" style="width: 300px;" required>
            </div>
            <div style="margin-left: 100px;">
                <label for="category">Discount (%)</label>
                <input type="text" class="form-control" id="discount" name="edit_discount" style="width: 300px;">
            </div>
        </div>
      

        <div class="form-group d-inline-flex" style="width: 70%;">
            <div class="mt-4">
                <a href=""><button type="submit" class="btn btn-primary">Add Product</button></a>
            </div>
            <div style="position: relative;left:288px">
                <label for="image" class="col-md-2 col-form-label">Image</label>
                <div class="col-md-4">
                    <input type="file" id="image" name="edit_image" accept="image/*" required>
                </div>
            </div>
        </div>
        
    </form>
    
</div>
{% endblock body %}